name: deploy-bicep

on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Azure
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Create Resource Group and Deploy Bicep
      run: |
        az group create -n rg-demo-lakehouse -l eastus
        az deployment group create \
          -g rg-demo-lakehouse \
          -f main.bicep \
          -p baseName=demo
